<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      Welcome to the Amusement Park App
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>
