<div class="container" role="main">
      <h1>Listing attractions</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Tickets</strong></td>
      <td><strong>Details</strong></td>
    </tr>
      <tr>

        <td>Chaos Exhilarator </td>
        <td>6</td>
          <td><a href="/attractions/26">Go on Chaos Exhilarator </a></td>
      </tr>
      <tr>

        <td>frizzle3</td>
        <td>5</td>
          <td><a href="/attractions/85">Go on frizzle3</a></td>
      </tr>
      <tr>

        <td>New Attraction</td>
        <td>2</td>
          <td><a href="/attractions/25">Go on New Attraction</a></td>
      </tr>
      <tr>

        <td>no name nancense</td>
        <td>5</td>
          <td><a href="/attractions/50">Go on no name nancense</a></td>
      </tr>
      <tr>

        <td>it</td>
        <td>5</td>
          <td><a href="/attractions/28">Go on it</a></td>
      </tr>
      <tr>

        <td>The most scare</td>
        <td>0</td>
          <td><a href="/attractions/151">Go on The most scare</a></td>
      </tr>
      <tr>

        <td>FantomFart</td>
        <td>1</td>
          <td><a href="/attractions/29">Go on FantomFart</a></td>
      </tr>
      <tr>

        <td>Lemon Parfait</td>
        <td>3</td>
          <td><a href="/attractions/33">Go on Lemon Parfait</a></td>
      </tr>
      <tr>

        <td>frizzle1</td>
        <td>5</td>
          <td><a href="/attractions/86">Go on frizzle1</a></td>
      </tr>
      <tr>

        <td>Swinging Ship</td>
        <td>2</td>
          <td><a href="/attractions/5">Go on Swinging Ship</a></td>
      </tr>
      <tr>

        <td>Go Karts</td>
        <td>3</td>
          <td><a href="/attractions/6">Go on Go Karts</a></td>
      </tr>

      <tr>

        <td>Screaming Irish</td>
        <td>3</td>
          <td><a href="/attractions/35">Go on Screaming Irish</a></td>
      </tr>
      <tr>

        <td>Tower of Terror</td>
        <td>5</td>
          <td><a href="/attractions/36">Go on Tower of Terror</a></td>
      </tr>
      <tr>

        <td>Twister</td>
        <td>3</td>
          <td><a href="/attractions/37">Go on Twister</a></td>
      </tr>
      <tr>

        <td>PewPew</td>
        <td>1</td>
          <td><a href="/attractions/38">Go on PewPew</a></td>
      </tr>
      <tr>

        <td>Giant Slide</td>
        <td>2</td>
          <td><a href="/attractions/39">Go on Giant Slide</a></td>
      </tr>
      <tr>

        <td>first_run</td>
        <td>5</td>
          <td><a href="/attractions/87">Go on first_run</a></td>
      </tr>
      <tr>

        <td>The Greatest Ride Ever</td>
        <td>1</td>
          <td><a href="/attractions/40">Go on The Greatest Ride Ever</a></td>
      </tr>
      <tr>

        <td>Twister</td>
        <td>1</td>
          <td><a href="/attractions/41">Go on Twister</a></td>
      </tr>
      <tr>

        <td>THE NEWEST BIGGEST COASTER</td>
        <td>3</td>
          <td><a href="/attractions/42">Go on THE NEWEST BIGGEST COASTER</a></td>
      </tr>
      <tr>

        <td>THE GOD</td>
        <td>200</td>
          <td><a href="/attractions/17">Go on THE GOD</a></td>
      </tr>
      <tr>

        <td>New attraction</td>
        <td>1</td>
          <td><a href="/attractions/43">Go on New attraction</a></td>
      </tr>
      <tr>

        <td>Christopher</td>
        <td>1</td>
          <td><a href="/attractions/44">Go on Christopher</a></td>
      </tr>
      <tr>

        <td>Love Beast</td>
        <td>500</td>
          <td><a href="/attractions/45">Go on Love Beast</a></td>
      </tr>
      <tr>

        <td>Love Shack Cadillac</td>
        <td>2</td>
          <td><a href="/attractions/46">Go on Love Shack Cadillac</a></td>
      </tr>
      <tr>

        <td>hell</td>
        <td>1</td>
          <td><a href="/attractions/47">Go on hell</a></td>
      </tr>
      <tr>

        <td>Haunted Mansion Spooky!</td>
        <td>1</td>
          <td><a href="/attractions/7">Go on Haunted Mansion Spooky!</a></td>
      </tr>
      <tr>

        <td>Alex's Coaster</td>
        <td>2</td>
          <td><a href="/attractions/49">Go on Alex's Coaster</a></td>
      </tr>
      <tr>

        <td>Scrambler Ride</td>
        <td>2</td>
          <td><a href="/attractions/1">Go on Scrambler Ride</a></td>
      </tr>
      <tr>

        <td>new ride</td>
        <td>1</td>
          <td><a href="/attractions/51">Go on new ride</a></td>
      </tr>
      <tr>

        <td>The Better Name</td>
        <td>5</td>
          <td><a href="/attractions/150">Go on The Better Name</a></td>
      </tr>
      <tr>

        <td>Tilt-a-Whirl</td>
        <td>0</td>
          <td><a href="/attractions/11">Go on Tilt-a-Whirl</a></td>
      </tr>
      <tr>

        <td>superman</td>
        <td>10</td>
          <td><a href="/attractions/88">Go on superman</a></td>
      </tr>
      <tr>

        <td>Zipper</td>
        <td>3</td>
          <td><a href="/attractions/53">Go on Zipper</a></td>
      </tr>
      <tr>

        <td>asdf</td>
        <td>1</td>
          <td><a href="/attractions/55">Go on asdf</a></td>
      </tr>
      <tr>

        <td></td>
        <td></td>
          <td><a href="/attractions/56">Go on </a></td>
      </tr>
      <tr>

        <td>new ride</td>
        <td>20</td>
          <td><a href="/attractions/57">Go on new ride</a></td>
      </tr>
      <tr>

        <td>Crazy Train</td>
        <td>3</td>
          <td><a href="/attractions/58">Go on Crazy Train</a></td>
      </tr>
      <tr>

        <td>Barf-Bucket</td>
        <td>0</td>
          <td><a href="/attractions/10">Go on Barf-Bucket</a></td>
      </tr>
      <tr>

        <td>The Doom's Day</td>
        <td>10000</td>
          <td><a href="/attractions/52">Go on The Doom's Day</a></td>
      </tr>
      <tr>

        <td>iuuioiuoiuo</td>
        <td></td>
          <td><a href="/attractions/14">Go on iuuioiuoiuo</a></td>
      </tr>
      <tr>

        <td>Alex's Coaster</td>
        <td>-10</td>
          <td><a href="/attractions/48">Go on Alex's Coaster</a></td>
      </tr>
      <tr>

        <td>best ride</td>
        <td>6</td>
          <td><a href="/attractions/59">Go on best ride</a></td>
      </tr>
      <tr>

        <td>Boo</td>
        <td>6</td>
          <td><a href="/attractions/60">Go on Boo</a></td>
      </tr>
      <tr>

        <td>Dumbo</td>
        <td>3</td>
          <td><a href="/attractions/61">Go on Dumbo</a></td>
      </tr>
      <tr>

        <td>Monster Ride</td>
        <td>5</td>
          <td><a href="/attractions/62">Go on Monster Ride</a></td>
      </tr>
      <tr>

        <td>Monster Ride</td>
        <td>5</td>
          <td><a href="/attractions/63">Go on Monster Ride</a></td>
      </tr>
      <tr>

        <td>Regenerator</td>
        <td>-100</td>
          <td><a href="/attractions/64">Go on Regenerator</a></td>
      </tr>
      <tr>

        <td>VomBom 3000</td>
        <td>4</td>
          <td><a href="/attractions/65">Go on VomBom 3000</a></td>
      </tr>
      <tr>

        <td>viper</td>
        <td>6</td>
          <td><a href="/attractions/66">Go on viper</a></td>
      </tr>
      <tr>

        <td>TallPeopleMeet.com</td>
        <td>9</td>
          <td><a href="/attractions/67">Go on TallPeopleMeet.com</a></td>
      </tr>
      <tr>

        <td>Bankrupt</td>
        <td>999999999</td>
          <td><a href="/attractions/68">Go on Bankrupt</a></td>
      </tr>
      <tr>

        <td>Ride on Eeyore</td>
        <td>0</td>
          <td><a href="/attractions/69">Go on Ride on Eeyore</a></td>
      </tr>
      <tr>

        <td>Water Slide</td>
        <td>5</td>
          <td><a href="/attractions/70">Go on Water Slide</a></td>
      </tr>
      <tr>

        <td>Go-Farts</td>
        <td>1</td>
          <td><a href="/attractions/71">Go on Go-Farts</a></td>
      </tr>
      <tr>

        <td>The Diarrheanator</td>
        <td>1</td>
          <td><a href="/attractions/72">Go on The Diarrheanator</a></td>
      </tr>
      <tr>

        <td>Belly of the Beast</td>
        <td>5</td>
          <td><a href="/attractions/73">Go on Belly of the Beast</a></td>
      </tr>
      <tr>

        <td>Simply Amazing?</td>
        <td>100</td>
          <td><a href="/attractions/30">Go on Simply Amazing?</a></td>
      </tr>
      <tr>

        <td></td>
        <td></td>
          <td><a href="/attractions/75">Go on </a></td>
      </tr>
      <tr>

        <td>Dragon_Ball_Shin2</td>
        <td>60</td>
          <td><a href="/attractions/74">Go on Dragon_Ball_Shin2</a></td>
      </tr>
      <tr>

        <td>The Arena</td>
        <td>1</td>
          <td><a href="/attractions/76">Go on The Arena</a></td>
      </tr>
      <tr>

        <td>The Ryan Reynolds</td>
        <td>5</td>
          <td><a href="/attractions/77">Go on The Ryan Reynolds</a></td>
      </tr>
      <tr>

        <td>Pirate Ship</td>
        <td>3</td>
          <td><a href="/attractions/12">Go on Pirate Ship</a></td>
      </tr>
      <tr>

        <td>The Whomping Willow</td>
        <td>0</td>
          <td><a href="/attractions/78">Go on The Whomping Willow</a></td>
      </tr>
      <tr>

        <td>Scrambler</td>
        <td>3</td>
          <td><a href="/attractions/79">Go on Scrambler</a></td>
      </tr>
      <tr>

        <td>Queezy Queen</td>
        <td>3</td>
          <td><a href="/attractions/80">Go on Queezy Queen</a></td>
      </tr>
      <tr>

        <td>Scrambler</td>
        <td>5</td>
          <td><a href="/attractions/13">Go on Scrambler</a></td>
      </tr>
      <tr>

        <td>Whirly Dirly</td>
        <td>1</td>
          <td><a href="/attractions/81">Go on Whirly Dirly</a></td>
      </tr>
      <tr>

        <td>Fuzzinator</td>
        <td>30</td>
          <td><a href="/attractions/82">Go on Fuzzinator</a></td>
      </tr>
      <tr>

        <td>Dragon_Ball_Shin2</td>
        <td>2</td>
          <td><a href="/attractions/83">Go on Dragon_Ball_Shin2</a></td>
      </tr>
      <tr>

        <td>hohooh</td>
        <td>100</td>
          <td><a href="/attractions/89">Go on hohooh</a></td>
      </tr>
      <tr>

        <td>RIDEME</td>
        <td>10</td>
          <td><a href="/attractions/90">Go on RIDEME</a></td>
      </tr>
      <tr>

        <td>stuff</td>
        <td>1</td>
          <td><a href="/attractions/91">Go on stuff</a></td>
      </tr>
      <tr>

        <td>DurrBurger</td>
        <td>-100</td>
          <td><a href="/attractions/92">Go on DurrBurger</a></td>
      </tr>
      <tr>

        <td>Nice for what??</td>
        <td>4</td>
          <td><a href="/attractions/22">Go on Nice for what??</a></td>
      </tr>
      <tr>

        <td>Los Pepitos</td>
        <td>8</td>
          <td><a href="/attractions/34">Go on Los Pepitos</a></td>
      </tr>
      <tr>

        <td>frizzle14</td>
        <td>2</td>
          <td><a href="/attractions/84">Go on frizzle14</a></td>
      </tr>
      <tr>

        <td></td>
        <td></td>
          <td><a href="/attractions/93">Go on </a></td>
      </tr>
      <tr>

        <td></td>
        <td></td>
          <td><a href="/attractions/94">Go on </a></td>
      </tr>
      <tr>

        <td>El Toro</td>
        <td>5</td>
          <td><a href="/attractions/95">Go on El Toro</a></td>
      </tr>
      <tr>

        <td>super ride</td>
        <td>2</td>
          <td><a href="/attractions/96">Go on super ride</a></td>
      </tr>
      <tr>

        <td>Have A Nice Life - Deathconsciousness Listening Party</td>
        <td>5</td>
          <td><a href="/attractions/129">Go on Have A Nice Life - Deathconsciousness Listening Party</a></td>
      </tr>
      <tr>

        <td>this one</td>
        <td>2</td>
          <td><a href="/attractions/130">Go on this one</a></td>
      </tr>
      <tr>

        <td>this one</td>
        <td>1</td>
          <td><a href="/attractions/131">Go on this one</a></td>
      </tr>
      <tr>

        <td>test</td>
        <td>2</td>
          <td><a href="/attractions/132">Go on test</a></td>
      </tr>
      <tr>

        <td>Roller Mob</td>
        <td>20</td>
          <td><a href="/attractions/133">Go on Roller Mob</a></td>
      </tr>
      <tr>

        <td>ttt</td>
        <td>78</td>
          <td><a href="/attractions/134">Go on ttt</a></td>
      </tr>
      <tr>

        <td>ttt</td>
        <td>10</td>
          <td><a href="/attractions/135">Go on ttt</a></td>
      </tr>
      <tr>

        <td>Roller Cost</td>
        <td>23</td>
          <td><a href="/attractions/136">Go on Roller Cost</a></td>
      </tr>
      <tr>

        <td>Patel</td>
        <td>2</td>
          <td><a href="/attractions/137">Go on Patel</a></td>
      </tr>
      <tr>

        <td>Rattler</td>
        <td>9</td>
          <td><a href="/attractions/15">Go on Rattler</a></td>
      </tr>
      <tr>

        <td>threnody</td>
        <td>1</td>
          <td><a href="/attractions/138">Go on threnody</a></td>
      </tr>
      <tr>

        <td>getting there</td>
        <td>0</td>
          <td><a href="/attractions/139">Go on getting there</a></td>
      </tr>
      <tr>

        <td></td>
        <td></td>
          <td><a href="/attractions/140">Go on </a></td>
      </tr>
      <tr>

        <td></td>
        <td></td>
          <td><a href="/attractions/141">Go on </a></td>
      </tr>
      <tr>

        <td>u</td>
        <td>1</td>
          <td><a href="/attractions/142">Go on u</a></td>
      </tr>
      <tr>

        <td>Test Ride</td>
        <td>7</td>
          <td><a href="/attractions/143">Go on Test Ride</a></td>
      </tr>
      <tr>

        <td>Tram to parking lot</td>
        <td>20</td>
          <td><a href="/attractions/144">Go on Tram to parking lot</a></td>
      </tr>
      <tr>

        <td>Unbankupt</td>
        <td>-999999999</td>
          <td><a href="/attractions/145">Go on Unbankupt</a></td>
      </tr>
      <tr>

        <td>a</td>
        <td>1</td>
          <td><a href="/attractions/18">Go on a</a></td>
      </tr>
      <tr>

        <td>Rocinante's Revenge</td>
        <td>6</td>
          <td><a href="/attractions/31">Go on Rocinante's Revenge</a></td>
      </tr>
      <tr>

        <td>amit rides </td>
        <td>1</td>
          <td><a href="/attractions/146">Go on amit rides </a></td>
      </tr>
      <tr>

        <td>The Dingle Biter</td>
        <td>5</td>
          <td><a href="/attractions/147">Go on The Dingle Biter</a></td>
      </tr>
      <tr>

        <td>Hair Raising Hell Cart</td>
        <td>1</td>
          <td><a href="/attractions/148">Go on Hair Raising Hell Cart</a></td>
      </tr>
      <tr>

        <td></td>
        <td></td>
          <td><a href="/attractions/149">Go on </a></td>
      </tr>
      <tr>

        <td>Secret door</td>
        <td>18</td>
          <td><a href="/attractions/184">Go on Secret door</a></td>
      </tr>
      <tr>

        <td>Merry-Go-Round</td>
        <td>1</td>
          <td><a href="/attractions/3">Go on Merry-Go-Round</a></td>
      </tr>
      <tr>

        <td>777</td>
        <td>1</td>
          <td><a href="/attractions/185">Go on 777</a></td>
      </tr>
      <tr>

        <td>blablacar</td>
        <td>3</td>
          <td><a href="/attractions/186">Go on blablacar</a></td>
      </tr>
      <tr>

        <td>Roller Coaster</td>
        <td>4</td>
          <td><a href="/attractions/4">Go on Roller Coaster</a></td>
      </tr>
      <tr>

        <td>hi</td>
        <td></td>
          <td><a href="/attractions/16">Go on hi</a></td>
      </tr>
      <tr>

        <td>Facer</td>
        <td>0</td>
          <td><a href="/attractions/21">Go on Facer</a></td>
      </tr>
      <tr>

        <td>The Freebie</td>
        <td>0</td>
          <td><a href="/attractions/54">Go on The Freebie</a></td>
      </tr>
      <tr>

        <td>coll</td>
        <td>0</td>
          <td><a href="/attractions/20">Go on coll</a></td>
      </tr>
      <tr>

        <td>lol</td>
        <td>1</td>
          <td><a href="/attractions/23">Go on lol</a></td>
      </tr>
      <tr>

        <td>babo</td>
        <td>3</td>
          <td><a href="/attractions/24">Go on babo</a></td>
      </tr>
      <tr>

        <td>Miniature Railroad!!!!</td>
        <td>1</td>
          <td><a href="/attractions/2">Go on Miniature Railroad!!!!</a></td>
      </tr>
      <tr>

        <td>Bumper boats</td>
        <td>3</td>
          <td><a href="/attractions/27">Go on Bumper boats</a></td>
      </tr>
      <tr>

        <td>Zombie Run</td>
        <td>1</td>
          <td><a href="/attractions/32">Go on Zombie Run</a></td>
      </tr>
      <tr>

        <td>Nasty Nausea</td>
        <td>100</td>
          <td><a href="/attractions/187">Go on Nasty Nausea</a></td>
      </tr>
      <tr>

        <td>Teacups Ride!!</td>
        <td>1</td>
          <td><a href="/attractions/9">Go on Teacups Ride!!</a></td>
      </tr>
      <tr>

        <td>Revival</td>
        <td>-1000</td>
          <td><a href="/attractions/188">Go on Revival</a></td>
      </tr>
      <tr>

        <td>Kanaval</td>
        <td>10</td>
          <td><a href="/attractions/189">Go on Kanaval</a></td>
      </tr>
      <tr>

        <td>ss</td>
        <td>2</td>
          <td><a href="/attractions/190">Go on ss</a></td>
      </tr>
      <tr>

        <td>thrill ride</td>
        <td>5</td>
          <td><a href="/attractions/191">Go on thrill ride</a></td>
      </tr>
      <tr>

        <td>New attraction</td>
        <td>3</td>
          <td><a href="/attractions/193">Go on New attraction</a></td>
      </tr>
      <tr>

        <td>Wild Thang</td>
        <td>5001</td>
          <td><a href="/attractions/194">Go on Wild Thang</a></td>
      </tr>
      <tr>

        <td>colonoscopy</td>
        <td>0</td>
          <td><a href="/attractions/19">Go on colonoscopy</a></td>
      </tr>
      <tr>

        <td>1</td>
        <td>1</td>
          <td><a href="/attractions/195">Go on 1</a></td>
      </tr>
      <tr>

        <td></td>
        <td></td>
          <td><a href="/attractions/196">Go on </a></td>
      </tr>
      <tr>

        <td>Kevin's attraction</td>
        <td>500</td>
          <td><a href="/attractions/192">Go on Kevin's attraction</a></td>
      </tr>
      <tr>

        <td>Time Traveler</td>
        <td>5</td>
          <td><a href="/attractions/197">Go on Time Traveler</a></td>
      </tr>
      <tr>

        <td>caurusel</td>
        <td>1</td>
          <td><a href="/attractions/198">Go on caurusel</a></td>
      </tr>
      <tr>

        <td>Spoke</td>
        <td>25</td>
          <td><a href="/attractions/200">Go on Spoke</a></td>
      </tr>
      <tr>

        <td>Super Twirl</td>
        <td>10</td>
          <td><a href="/attractions/201">Go on Super Twirl</a></td>
      </tr>
      <tr>

        <td>Spash Mountain</td>
        <td></td>
          <td><a href="/attractions/202">Go on Spash Mountain</a></td>
      </tr>
      <tr>

        <td>Dish Washer</td>
        <td>5</td>
          <td><a href="/attractions/203">Go on Dish Washer</a></td>
      </tr>
      <tr>

        <td>Cherry Bomb</td>
        <td>5</td>
          <td><a href="/attractions/204">Go on Cherry Bomb</a></td>
      </tr>
      <tr>

        <td>Ferris Wheel</td>
        <td>2</td>
          <td><a href="/attractions/205">Go on Ferris Wheel</a></td>
      </tr>
      <tr>

        <td>The Icky </td>
        <td>2</td>
          <td><a href="/attractions/206">Go on The Icky </a></td>
      </tr>
      <tr>

        <td>rack session</td>
        <td>-1</td>
          <td><a href="/attractions/207">Go on rack session</a></td>
      </tr>
      <tr>

        <td>Diarrhea Express</td>
        <td>3</td>
          <td><a href="/attractions/208">Go on Diarrhea Express</a></td>
      </tr>
      <tr>

        <td>exterminatorz</td>
        <td>1</td>
          <td><a href="/attractions/209">Go on exterminatorz</a></td>
      </tr>
      <tr>

        <td>11</td>
        <td>1</td>
          <td><a href="/attractions/210">Go on 11</a></td>
      </tr>
      <tr>

        <td>2</td>
        <td>2</td>
          <td><a href="/attractions/211">Go on 2</a></td>
      </tr>
      <tr>

        <td>The Pi Slide</td>
        <td>314159265</td>
          <td><a href="/attractions/212">Go on The Pi Slide</a></td>
      </tr>
      <tr>

        <td>fasd</td>
        <td>2</td>
          <td><a href="/attractions/213">Go on fasd</a></td>
      </tr>
      <tr>

        <td>Fuck mountain Express</td>
        <td>69</td>
          <td><a href="/attractions/199">Go on Fuck mountain Express</a></td>
      </tr>
      <tr>

        <td>Ball dipper</td>
        <td>30</td>
          <td><a href="/attractions/214">Go on Ball dipper</a></td>
      </tr>
      <tr>

        <td>Space Mountain</td>
        <td>3</td>
          <td><a href="/attractions/215">Go on Space Mountain</a></td>
      </tr>
      <tr>

        <td>asd</td>
        <td>0</td>
          <td><a href="/attractions/216">Go on asd</a></td>
      </tr>
      <tr>

        <td>the kitten</td>
        <td>2</td>
          <td><a href="/attractions/217">Go on the kitten</a></td>
      </tr>
      <tr>

        <td></td>
        <td></td>
          <td><a href="/attractions/218">Go on </a></td>
      </tr>
      <tr>

        <td>new ride</td>
        <td>1</td>
          <td><a href="/attractions/219">Go on new ride</a></td>
      </tr>
      <tr>

        <td>Awesome ride</td>
        <td>100</td>
          <td><a href="/attractions/220">Go on Awesome ride</a></td>
      </tr>
      <tr>

        <td>The Upside Down</td>
        <td>1</td>
          <td><a href="/attractions/221">Go on The Upside Down</a></td>
      </tr>
  </tbody>
</table>
<br>

  <p><a href="/attractions/new">New Attraction</a></p>

    </div>